In [1]:
%load_ext autoreload
%autoreload 2

In [1]:
import csv

import cameraControl as cc

In [2]:
# ポートリストの取得
list_ports = cc.get_list_ports()
# シリアルナンバーの取得
list_serialnum = cc.get_list_serialnumber(list_ports)
len(list_serialnum)

<_sre.SRE_Match object; span=(34, 55), match='Current: 071074004868'>

1

In [3]:
# export serial numbers
with open("./serialnum_fixed.csv", "a") as f:
    for serialnum in list_serialnum:
        f.write(serialnum)
        f.write("\n")

In [3]:
# 画像フォーマットの設定
# 9: RAW
cc.set_allCameras_imageformat(list_ports, 9)
#  SDカードのデータ削除
cc.delete_all_files_inAllCameras(list_ports)
# 時刻の同期
cc.set_clocks_now(list_ports)

## serialnum.csvの整理

In [4]:
import pandas as pd

In [46]:
data = pd.read_csv("./serialnum_fixed.csv", header = None, index_col=0, dtype = {1:str})
data.head()

                1
0
13   071074003363
11   031074011569
10   071074004866
12   031074008484
9    071074003381

In [47]:
newdata = data.sort_index()
print(newdata.head())
newid = pd.Series(["f{0:03d}".format(index) for index in newdata.index])
newid.head()

               1
0
1   031074011543
2   031074011619
3   071074004869
4   071074004863
5   031074008483

0    f001
1    f002
2    f003
3    f004
4    f005
dtype: object

In [48]:
newdata.index = newid
newdata.head()

In [50]:
newdata.to_csv("./serialnum/serialnum_fixed_01.csv", header=None)